/* Your stylesheet */

/* color of latitude button */
.navbar-brand
{
    background-color: mediumslateblue;
    padding: 5pt;
    color: white;
}

/* text of latitude button */
.navbar-light .navbar-brand {
    color:white;
    font-weight:bold;
    font-family: Georgia, 'Times New Roman', Times, serif;

}

/* headings */

h1 {
  font-size: 25px;
  color: mediumslateblue;
  font-weight: bold;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

h4 {
  color: mediumslateblue;
  text-align: center;
}

/* 
p {
  font-size: 15px;
  color: gray;
}

ul {
  border-style: solid;
  color: gray;
} */

  